@import 'tailwindcss';

:root {
  --background: #e1e1e1;
  --foreground: #181818;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-made-tommy: var(--font-made-tommy);
}

@custom-variant dark (&:is(.dark *));

@media (prefers-color-scheme: dark) {
  :root {
    --background: #181818;
    --foreground: #e1e1e1;
  }
}

body {
  @apply bg-background text-foreground font-made-tommy;
}
