@import 'tailwindcss';

:root {
  --background: #e1e1e1;
  --foreground: #181818;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-made-tommy: var(--font-made-tommy);
}

@custom-variant dark (&:is(.dark *));

.dark {
  --background: #181818;
  --foreground: #e1e1e1;
}
@layer base {
  .navbar-link-underline {
    @apply after:bg-foreground relative text-[32px] font-medium after:absolute after:-bottom-2 after:left-0 after:h-[6px] after:w-0 after:content-[""] hover:after:w-full;
  }
}

body {
  @apply bg-background text-foreground font-made-tommy;
}
